.start-game {
  background-image: url("../image/background.jpg");

  display: flex;
text-align: center;
  align-items: center;
  font-family: "Garamond-bold", Times, serif;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.htp{
    text-align: right;
}

