ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
  }
  
  ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
  }
  
  ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
  }

  .tutorial{
    margin-top: 20px;
    border: 10px solid black;
    padding: 35px; 
    opacity: 1;
    color: beige;
    background-color: brown;
  }

  .image-dados{
height: 100%;
  }
  .link-tutorial{
    text-align: center;
    align-content: center;
    margin: 10px;
  }

  .btn-jugador{
    margin: 10px;
  }